<%= form_for(@text_source) do |f| %>
  <% if @text_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@text_source.errors.count, "error") %> prohibited this text_source from being saved:</h2>

      <ul>
      <% @text_source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
