<h1>Listing Text Sources</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @text_sources.each do |text_source| %>
  <tr>
    <td><%= truncate text_source.title %></td>
    <td><%= truncate text_source.content %></td>
    <td><%= link_to 'Show', text_source %></td>
    <td><%= link_to 'Edit', edit_text_source_path(text_source) %></td>
    <td><%= link_to 'Destroy', text_source, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Text source', new_text_source_path %>
