<div class="row">
  <div class="span8 offset4">
  <%= form_tag generate_path(:format => 'json'), :remote => true, :method => :get, :id => 'generate_ipsum' do %>
    <div class="clearfix">
      <%= label_tag 'paragraphs', '문단 수' %>
      <div class="input">
        <%= number_field_tag :paragraphs, 3, {:in => 1..20, :class => 'span1'} %>
      </div>
    </div>
    <div class="clearfix">
      <%= label_tag 'length', '문단 길이' %>
      <div class="input">
        <%= select_tag 'length', options_for_select([['길게', 'long'], ['중간', 'medium'], ['짧게', 'short']]) %>
      </div>
    </div>
    <div class="clearfix">
      <%= label_tag 'text_source_ids', '단어소스' %>
      <div class="input">
        <%= select_tag 'text_source_ids[]', options_from_collection_for_select(@text_sources, "id", "title"), :multiple => true %>
        <span class="help-block">
          아무 것도 선택 안하면 모든 소스에서 단어를 가져옵니다.
        </span>
      </div>
    </div>
    <div>
      <%= submit_tag '생성하기', :class => 'btn xxlarge primary' %>
    </div>
  <% end %>
  </div>
</div>

<div class="row ipsum_result_container">
  <div class="span12 offset2 well">
    <p id="ipsum_result"> </p>
  </div>
</div>
